@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #161616;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 50px 0 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
  font-family: "Poppins", sans-serif;
}

.menu {
  display: flex;
}

.menu li a {
  padding: 15px 15px;
  color: #6c707c;
  font-size: 12px;
}

.lang {
  color: #292929;
}

.logo {
  font-size: 30px;
  padding-right: 300px;
  font-weight: bold;
  color: #292929;
  font-family: "Chewy", cursive;
  text-decoration: none;
  text-emphasis: none;
}
.fas {
  font-size: 25px;
}

.toggle {
  display: none;
}

.active a,
.menu li a:hover {
  background-color: #292929;
  color: #fff;
  font-weight: 700;
  transition: all ease 0.4s;
  text-decoration: none;
}

.name {
  font-family: "Nunito", sans-serif;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.name p:nth-child(1),
.name .details {
  color: #6c707c;
  font-size: 16px;
}

.name h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 2px;
  color: #292929;
}

.cv-btn {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #000000;
  border: 1px solid;
  font-weight: normal;
}

.cv-btn:hover {
  background-color: #131313;
  transition: all ease 0.7s;
  text-decoration: none;
  color: white;
  font-weight: bold;
  line-height: 20px;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}

.social a {
  margin: 6px 12px;
}

.social i {
  font-size: 14px;
  color: rgba(18, 17, 17, 0.4);
}

.social a:hover i {
  color: #17d1ac;
  transition: all ease 0.5s;
}

/* about */

#about {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5% 0 8%;
}

.about-text {
  width: 50%;
  line-height: 3rem;
  font-family: "Nunito", sans-serif;
}

.about-text h1 {
  font-size: 6rem;
  color: #40749a;
  margin-bottom: 10px;
}

.about-text h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
}

.about-text h1,
h2 {
  margin-bottom: 25px;
  padding: 0px;
}

.about-text p {
  font-size: 1.5rem;
  color: rgba(251, 251, 251, 0.9);
}

/* Skill */

.bar {
  background-color: rgb(44, 43, 43);
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 10px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: attr(data-skill);
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.first::before,
.bar.sixth::before {
  width: calc(80% - 10px);
  background-color: #993131;
}
.bar.second::before,
.bar.seventh::before {
  width: calc(75% - 10px);
  background-color: #b19131;
}
.bar.third::before,
.bar.eight::before {
  width: calc(75% - 10px);
  background-color: #3c6899;
}
.bar.fourth::before {
  width: calc(25% - 10px);
  background-color: #5f2d6b;
}
.bar.fifth::before {
  width: calc(50% - 10px);
  background-color: #44721e;
}
.bar.nine::before {
  width: calc(25% - 10px);
  background-color: #266b41;
}
.bar.ten::before {
  width: calc(10% - 10px);
  background-color: #3c6899;
}

#skill {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

#skill h1 {
  color: #40749a;
  font-size: 6rem;
  margin-bottom: 50px;
}

/* Project */
#project {
  width: 100%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 2% 50px 2%;
  margin-bottom: 50px;
}

.p-heading {
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #40749a;
  font-weight: 400;
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: #292929;
  letter-spacing: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.p-box {
  background-color: #1f1f1f;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}
.p-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.p-container {
  width: 90%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
.overlay-text {
  font-family: "Nunito", sans-serif;
  position: absolute;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(64, 116, 154, 0.8);
  display: none;
}
.overlay-text h1,
p {
  color: white;
  font-weight: bold;
}
.overlay-text h1 {
  font-size: 2.7rem;
  margin: 0px;
  padding: 0px;
  letter-spacing: 2px;
}
.overlay-text p {
  font-size: 1.5rem;
  margin-top: 10px;
}
.p-box:hover .overlay-text {
  display: flex;
}

/* Contact */
#contact-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f4f7ff;
  margin: 20px 0px;
  box-sizing: border-box;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}
.c-b-heading {
  font-size: 2rem;
  color: #1e1e1e;
  font-family: "Nunito", sans-serif;
  margin: 10px;
  padding: 5px;
  letter-spacing: 4px;
  border-bottom: 2px solid #1e1e1e;
}
#contact-btn a {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  width: 150px;
  height: 30px;
  text-align: center;
  margin: 10px;
  background-color: #1e1e1e;
  border: none;
  outline: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
#contact-btn a:hover {
  background-color: #80a0b7;
  color: #000000;
  transition: all ease 0.5s;
  font-weight: bold;
  text-decoration: none;
}
#contact-form {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-form form {
  display: flex;
  width: 70%;
  height: 60vh;
  background-color: #1a1a1a;
  box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.01);
}
.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-right {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}
.contact-right button {
  width: 100%;
  height: 100px;
  background-color: #80a0b7;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 0px;
  color: #1b1b1b;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.c-l-heading {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 400;
}
.f-name,
.f-email {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}
.f-name font,
.f-email font {
  color: #bfbfbf;
  font-size: 22px;
}
.f-name input,
.f-email input {
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #929292;
  color: #ffffff;
  margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder {
  opacity: 0.5;
  letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus {
  border-bottom: 1px solid #80a0b7;
  transition: all ease 0.5s;
}
.message font {
  font-size: 18px;
  color: #4e4e4e;
  font-family: "Nunito", sans-serif;
}
.message {
  margin: 20px;
}
.contact-right textarea {
  width: 100%;
  height: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #ebebeb;
  font-size: 16px;
}
.contact-right textarea::placeholder {
  color: #ebebeb;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Nunito", sans-serif;
}
.contact-right button:active {
  transform: scale(1.04);
  transition: all ease 0.1s;
}

/* Responsive */

@media (max-width: 1190px) {
  #main {
    background-size: 1150px;
  }
  .name {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .about-model img {
    height: 400px;
  }
  #skill h1 {
    font-size: 4.5rem;
    margin-bottom: 8px;
  }
  #skill {
    height: auto;
    width: auto;
  }
  .container {
    width: 80%;
  }
  .b-container {
    flex-wrap: wrap;
  }
  .s-box {
    flex-grow: 1;
  }
  .s-b-img img {
    object-fit: cover;
  }
  #contact-form form {
    width: 95% !important;
  }
}
@media (max-width: 970px) {
  #main {
    background-image: url("images/background.jpg");
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-model {
    display: none;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 4rem;
  }

  .p-container {
    width: 100%;
  }
  .p-heading {
    font-size: 3.5rem;
  }
  #skill {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
@media (max-width: 900px) {
  .toggle {
    display: flex;
  }
  .toggle:before {
    line-height: 0;
  }
  .menu {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    width: 100vw;
    height: 51rem;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 50px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    display: none;
    border: 3px solid #1f1f1f;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }
  .menu {
    padding: 0px;
    margin: 0px;
    display: none;
  }

  .active-menu {
    display: block;
  }

  nav ul li a:hover {
    background-color: rgba(74, 78, 83, 0.15);
  }
  .fas {
    size: 20x;
    height: 35px;
    padding-left: 150px;
  }
  .logo {
    padding-right: 0;
  }

  .p-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    height: auto;
  }
  .c-b-heading {
    font-size: 1.4rem;
    text-align: center;
  }
  #contact-form {
    padding: 20px;
    height: auto;
    box-sizing: border-box;
  }
  #contact-form form {
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 90%;
  }
  .contact-left,
  .contact-right {
    width: 100%;
    border: none;
  }
  .f-name,
  .f-email {
    width: 100%;
  }
  .f-name input,
  .f-email input {
    width: 100%;
    border: none;
    background-color: #262626;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
  }
  textarea {
    background-color: #262626;
    margin: 10px 0px;
    padding: 10px;
    height: 200px;
    width: 100%;
  }
  .message {
    margin: 0px;
  }
  #contact-form form h1 {
    margin: 5px 0px;
  }
}

@media (max-width: 600px) {
  .p-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .c-b-heading {
    font-size: 1.2rem;
    text-align: center;
    margin: 0px 10%;
  }
  .name {
    width: 60%;
  }
  .social {
    left: 30px;
    transform: translateX(-10px);
  }
}
@media (max-width: 400px) {
  .s-box {
    width: 100%;
    height: 400px;
  }
}
